body {
    background-color: #121212 !important;
}
.card {
    border: none;
    border-radius: 10px;
}
.hover-effect:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    opacity: 0.9;
}
.table-responsive {
    max-height: 500px;
    overflow-y: auto;
}